<form action="/user/create" method="post" class="form-signin">
    <h2 class="form-signin-heading">CREATE NEW ACCOUNT</h2>

    <label for="name">Your name</label>
    <input type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="name">
    <label for="title">Title</label>
    <input type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="title">
    <label for="email">Email</label>
    <input type="text" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="email">
    <label for="password">Password</label>
    <input type="password" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="password">
    <label for="password">Password Confirmation</label>
    <input type="password" class="form-control" readonly onfocus="this.removeAttribute('readonly');" name="confirmation">
    <br>
    <input type="submit" value="Sign Up" class="btn btn-dark">
</form>