<div class="container">
  <div class="jumbotron d-flex justify-content-center align-items-center flex-column">
    <h1>UserBase</h1>
    <h2>The user management website</h2>
    <a href="/user/new" class="btn btn-dark btn-lg">Sign up now</a>
  </div>
</div>